.ContactUsHeaderback{
    background-image: url('/public/assets/Inauguration/photo_2023-12-29_16-46-26-2.jpg');
    background-position: center;
    display: grid;
    background-blend-mode: screen;
    background-size: cover;
}

.ContactUsBody{
    margin-top: 5%;
}